h1{
	color: #00FF00;
	font-size: 60px;
}

.btn{
	margin-bottom: 12px;
}

#board{
	max-width: 640px;
	min-width: 320px;
	float: none; /*Override bootstrap	*/
	margin: auto;
}

.square{
	background-color: #FFF;
	border: 2px solid black;
	outline: none; /*keeps the blue line from showing up on the squares*/
	width: 185px;
	height: 185px;
	font-size: 60px;
}

.square:hover{
	background-color: #FF0;
}

#message{
	font-size: 40px;
	min-height: 80px; /*makes it so the message does not change the spacing*/
}

.winning-square{
	background-color: #0F0;
	color: #F00;
}